<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/bundles/corepulse/build/favicon.ico">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="#000000">
        <meta name="description" content="Web site created using create-react-app">
        <link rel="apple-touch-icon" href="/bundles/corepulse/build/logo192.png">
        <link rel="manifest" href="/bundles/corepulse/build/manifest.json">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <title>
            React App
        </title>
        <script type="module" crossorigin src="/bundles/corepulse/build/assets/index-Dm8ShSDL.js"></script>
        <link rel="modulepreload" crossorigin href="/bundles/corepulse/build/assets/antd-BGtFY75P.js">
        <link rel="stylesheet" crossorigin href="/bundles/corepulse/build/assets/index-ixqs1SVo.css">
        <script>
            window.CSRF_TOKEN = "{{ csrfToken|e('js') }}";
        </script>
    </head>
    <body>
        <noscript>
            You need to enable JavaScript to run this app.
        </noscript>
        <div id="root"></div>
    </body>
</html>
